<h2 style="text-align:center">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="field form-group row"><br>
   
   <div class="col-sm-2">
     </div>
     <%= f.label :names, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-6">
      <%= f.text_field :names, class: 'form-control', autofocus: true,autocomplete: "names" %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>

<div class="field form-group row">
    <div class="col-sm-2">
     </div>
    <%= f.label :email, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %><br />
    <div class="col-sm-6">
      <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
  
  <div class="field form-group row"><br>
   
   <div class="col-sm-2">
     </div>
     <%= f.label :phone_number, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-6">
      <%= f.text_field :phone_number, class: 'form-control',autocomplete: "phone_number"  %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
  
  <div class="field form-group row"><br>
   
   <div class="col-sm-2">
     </div>
     <%= f.label :user_category, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-6">
        <% if current_user.user_category.downcase=="admin"%>
          <%= f.select(:user_category, [ 'Admin','House Owner', 'Renter' ],{:prompt => "select user category"}, { :class => 'form-control' }) %>
        <%else%>
          <%= f.select(:user_category, [ 'House Owner', 'Renter' ],{:prompt => "select user category"}, { :class => 'form-control' }) %>
        <% end %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group row">
    
    <div class="col-sm-2">
     </div>
     
    <%= f.label :password, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
     
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      
      <% if @minimum_password_length %>
      <i>(leave blank if you don't want to change it),</i>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>
    <div class="col-sm-2">
     </div>
  </div>

  <div class="field form-group row">
    <div class="col-sm-2">
     </div>
    <%= f.label :password_confirmation , class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px'%><br />
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
  <div class="field form-group row">
    <div class="col-sm-2">
     </div>
    <%= f.label :current_password , class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px'%><br />
    <div class="col-sm-6">
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
  <div style="text-align:center">
      <%= f.submit 'Update', class: 'btn btn-primary btn-save', style:'width:550px;margin-left:200px' %>
  </div>
<% end %>


<br>
<p style="float:left;margin-left:400px;margin-right:20px">Do you want to cancel this account?</p> <%= button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:'btn btn-danger',style:'float:left;margin-right:20px;width:100px' %>

<%= link_to "Back", :back,class:'btn btn-success',style:'float:left;width:100px' %>
