<%= form_with(model: @house,local: true,url: choose_new_or_edit) do |f|%>
    <% if @house.errors.any? %>
        <div class="error_explanation">
            <h2><%= @house.errors.count%> errors occured!!</h2>
            <ul>
                <% @house.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end%>
    <br>

  <div class="field form-group row">
    <%= f.label:location, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-10">
      <%= f.text_field:location, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group row">
    <%= f.label:number_of_rooms, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-10">
      <%= f.text_field:number_of_rooms, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group row">
    <%= f.label:description, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-10">
      <%= f.hidden_field:description, id: :desc %>
      <trix-editor input="desc"></trix-editor>
      
    </div>
  </div>
  
  <div class="field row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
         <%= f.submit 'Save', class: 'btn btn-primary btn-save', style:'width:100%'%>
    </div>
  </div>
<% end %>