
<p>
  <h2>Full information on this house</h2>
  <p>This house has <b><%= @house.number_of_rooms %></b> rooms and located in <b><%=@house.location%></b>.</p>
</p>
<br>
<p>
  <%= sanitize @house.description %>
</p>
<h3>Photos</h3>
<div class="row">
    <% @photos.each do |photo|%>
    <div class="col col-3">
        <%=image_tag(photo.image_url(:thumb),style:'width:100%;height:200px;margin-bottom:20px')%>
    </div>
    <% end %>
    
</div>
<%= link_to 'Book Now',client_house_booking_path(@house.id) ,class:'btn btn-info' ,style:'width:200px' %>
 <br><br>
<h2>House owner's addresses</h2>
<div style="width:370px"><hr/></div>
<label>Names:        <b><%= @owner.names %></b></label><br>
<label>Email:        <b><%= @owner.email%></b></label><br>
<label>Phone Number: <b><%= @owner.phone_number%></b></label><br>
