
 <h1 style="float:left">These house owned by <b><%= @owner.names%></b></h1>
 <%= link_to new_house_path,style:'text-align:right;margin-top:10px',class:'btn btn-success float-right' do %>
    <i class="glyphicon glyphicon-plus"></i>New House
  <% end %>
  <div class="clearfix"></div>
  <div class="row">
    <% @houses.each do |house| %>
      
        <div class="col col-6 col-md-6 col-sm-12">
          <div style="background-color:#FFFFFF;margin:10px;padding:10px">
          <h5>This house has <b><%= house.number_of_rooms %></b> rooms and located in <b><%= house.location %> (<label style="color:yellow"><%=house.booked_status%></label>)</b>.</h5>
          <label style="font-size:10px"></label>
          <p>
            <%= house.description.truncate(200, omission: '... (continued)') %>
          </p>
          <%= link_to new_house_house_picture_path(house.id),class:'btn btn-info btn-sm' ,style:'width:180px;float:left' do%>
            <div style="float:left"><i class="glyphicon glyphicon-plus"></i></div>Add house pictures
          <% end %>
          <%= link_to  house,class:'btn btn-info btn-sm' ,style:'margin-left:20px;width:80px' do %>
            <div style="padding-top:3px;float:left"><i class="glyphicon glyphicon-eye-open"></i></div>View
          <% end %>
          <%= link_to  edit_house_path(house) ,class:'btn btn-info btn-sm' ,style:'margin-left:20px;width:80px;float:left' do%>
            <div style="float:left"><i class="glyphicon glyphicon-pencil"></i></div>Edit
          <% end %>
          
          <%= link_to  house_path(house.id),method: :delete,data:{confirm:'are you sure you want to delete?'},class:'btn btn-danger btn-sm',style:'margin-left:20px;width:100px' do%>
                <div style="padding-top:3px;float:left"><i class="glyphicon glyphicon-trash"></i></div>Delete
          <% end %>
         </div>  
        </div>
      
      <p>
       
     
    <% end %>
    </div>
  
<br>

