<br><br><h2 style="text-align:center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<br><br>
  <div class="field row">
    <%= f.label :email ,style:'float:left;margin-top: 5px;', class:'col col-2'%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:'form-control col col-4',style:'float:left;margin-right:30px'%>
    <%= f.submit "Reset your password",class:'btn btn-success col col-4' %>
  </div>

<% end %>


