
<br>
<%= form_tag  root_path, method: :get, class:'navbar-form', role:'search' do%>
    <div class="input-group add-on">
      <%=text_field_tag :query,params[:query],class:'form-control',placeholder:'Search by Location e.g: Kanombe,Kabuga,...',data: {behavior: "autocomplete"}, id:'srch-term'%>
      <div class="input-group-btn">
        
        <button class="btn btn-default" name="nil" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  <% end %>
  <br>
  
  <div class="row">
  <% @houses.each do |house|%>
    <% @owner=User.find(house.user_id)%>
    <% @check_house_image=HousePicture.find_by(house_id: house.id)%>
    <%if @check_house_image.present? && house.booked_status != 'booked'%>
      <div class="col col-4">
        <%=image_tag(house.house_pictures.first.image.image_url(:thumb),style:'height:200px;width:100%')%>
        <br><br>
        <h6>Owned by <i><%= @owner.names %></i></h6>
        <h6>It is located in <%= house.location %> with <%= house.number_of_rooms%> rooms</h6>
        <br>
        <p>
          <%= house.description.truncate(200)%>
        </p>
        <%=link_to 'Read more', house_booking_path(house.id),class:'btn btn-info',style:'margin-top:20px;margin-bottom: 10px;'%>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="container pagination justify-content-center">
     <%= paginate @houses , theme: 'twitter-bootstrap-4'%>
  </div>