<h1> house booking successfully! </ h1>
<h2>House owner's addresses</h2>
<div style="width:370px"><hr/></div>
<label>Names:        <b><%= @owner.names %></b></label><br>
<label>Email:        <b><%= @owner.email%></b></label><br>
<label>Phone Number: <b><%= @owner.phone_number%></b></label><br>
<h2>House owner's addresses</h2>
<div style="width:370px"><hr/></div>
<label>Names:        <b><%= @renter.names %></b></label><br>
<label>Email:        <b><%= @renter.email%></b></label><br>
<label>Phone Number: <b><%= @renter.phone_number%></b></label><br>

<h2>House details info</h2>
<h4>Location: <%= @house.location %></h4>

<h4>Rooms number: <%= @house.number_of_rooms %></h4>
<p>Description: <%= @house.description %></p>