<h1>House Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @house_pictures.each do |house_picture| %>
      <tr>
        <td><%= house_picture.image %></td>
        <td><%= link_to 'Show', house_picture_path(house_picture.id) %></td>
        <td><%= link_to 'Edit', edit_house_picture_path(house_picture) %></td>
        <td><%= link_to 'Destroy',house_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House Picture', new_house_house_picture_path(@house) %>
