<title>HouseRentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<%= javascript_include_tag 'application','https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.css" rel="stylesheet"/>
    <!--<%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>-->