<!DOCTYPE html>
<html>
  <head>
    <%= render 'html_head'%>
  </head>

  <body>
    <%= render 'navigation' %>
  
    <div class="row content">
      <div class="col-1"></div>
      <div class="col-10">
        <!--<% flash.each do |key, value| %>-->
        <!--  <%= content_tag(:div, value, class: 'alert alert-success alert-dismissible fade show',role:'alert',style:'margin-top:10px') do %>-->
        <!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--      <span aria-hidden="true">&times;</span>-->
        <!--    </button>-->
        <!--  <% end %>-->
        <!--<% end %>-->
         <%= render 'flash_errors'%>
    <%= yield %>
    </div>
      <div class="col-1">
  </div>
    <%= render 'footer'%>
  </body>
</html>
